
.header {
    display: flex;
    flex-direction: column;

    .container_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 12vh;
        border: solid 1px black;
        padding: 0 1.2rem;
        background-image: linear-gradient(to right, #001B2F,40%, #005695);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        @media screen and (max-height: 500px) {
            height: 15vh;
        }
        
        section {
            display: flex;
            align-items: center;
            gap: 1rem;

            .logo {
                height: 8vh;
            }

            .title {
                width: 190px;
                font-size: 1.4rem;
                font-weight: 700;
                color: white;

                @media (max-width:500px) {
                    width:auto;
                    font-size: 1.2rem; ;
                }
            }
        }

        nav {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: all 0.3s;

            .menuArea {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;

                .list {
                    display: flex;
                    gap: 2.5rem;
                    
                    .link {
                        color: white;
                        font-size: 1rem;
                        font-weight: 400;
                        
                        li {
                            cursor: pointer;
                            color: #e7e7e7;
                            transition: all 0.3s;
                            
                            &:hover {
                                color: white;
                            }

                            @media (max-width: 880px) {
                                display: block;
                                width: 100%;
                                height: auto;
                                padding: 10px 20px;

                                &:hover {
                                    background-color: #032b4a8b;
                                }

                            }
        
                        }
                    }

                    @media (max-width: 880px) {
                        flex-direction: column;
                        width: 100%;
                        gap: 0;
                        padding: 20px 0px;
                    }

                }

                @media (max-width: 880px) {
                    justify-content: flex-start;
                }

            }

            .searchBar {
                display: flex;
                align-items: center;
                border: solid 2px white;
                height: 40px;
                border-radius: 20px;

                .search {
                    height: 100%;
                    border: none;
                    outline: none;
                    padding: 0 1rem;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-size: 1rem;
                    opacity: 0.8;
                    transition: all 0.3s;

                    &:hover {
                        opacity: 1;
                    }

                    &::placeholder {
                        color: white;
                        font-size: 0.9rem;
                    }

                    @media (max-width: 880px) {
                        width: 170px ;
                    }
                }
                .searchIcon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 34px;
                    border-radius: 20px 0 0 20px;
                    border-radius:  0 20px 20px 0;

                    .icon {
                        font-size: 1.2rem;
                        color: white;
                        cursor: pointer;
                    }
                }
                
            }

            @media (max-width: 880px) {
                position: fixed;
                justify-content: flex-end;
                padding-top: 20px;
                flex-direction: column-reverse;
                width: 250px;
                height: 100vh;
                right: -250px;
                top: 12vh;
                z-index: 99;
                background-color: #013559;
            }

            @media screen and (max-height: 500px) {
                top: 15vh;
            }
        }

        @media (max-width: 880px) {
            .activeToggle {
                right: 0;
            }
        }

        .toggle {
            display: none;
            font-size: 2.7rem;
            color: white;
            opacity: 0.8;
            cursor: pointer;

            &:hover {
                opacity:1;
            }

            @media (max-width: 880px) {
                display: block;
                font-size:  2.5rem;
            }
        }

    }

}