
.header {
    display: flex;
    flex-direction: column;

    .container_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 12vh;
        border: solid 1px black;
        padding: 0 1rem;
        background-image: linear-gradient(to right, #001B2F,40%, #005695);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        
        section {
            display: flex;
            align-items: center;
            gap: 1rem;

            .logo {
                height: 8vh;
            }

            .title {
                width: 190px;
                font-size: 1.4rem;
                font-weight: 700;
                color: white;

                @media (max-width:500px) {
                    width:auto;
                    font-size: 1.2rem; ;
                }
            }
        }

        nav {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: all 0.3s;

            .menuArea {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;

                .list {
                    display: flex;
                    gap: 2.5rem;
                    
                    .link {
                        color: white;
                        font-size: 1rem;
                        font-weight: 400;
                        
                        li {
                            cursor: pointer;
                            color: #e7e7e7;
                            transition: all 0.3s;
                            
                            &:hover {
                                color: white;
                            }

                            @media (max-width: 880px) {
                                display: block;
                                width: 100%;
                                height: auto;
                                padding: 10px 20px;

                                &:hover {
                                    background-color: #032b4a8b;
                                }

                            }
        
                        }
                    }

                    @media (max-width: 880px) {
                        flex-direction: column;
                        width: 100%;
                        gap: 0;
                        padding: 20px 0px;
                    }

                }

                @media (max-width: 880px) {
                    justify-content: flex-start;
                }

            }

            .searchBar {
                display: flex;
                align-items: center;
                border: solid 2px white;
                height: 40px;
                border-radius: 20px;
                padding-right: 1rem;

                .search {
                    height: 100%;
                    border: none;
                    outline: none;
                    padding: 0 1rem;
                    background-color: transparent;
                    color: white;
                    font-size: 0.9rem;

                    @media (max-width: 880px) {
                        width: 170px ;
                    }
                }
    
                .icon {
                    color: white;
                    font-size: 1.5rem;
                }
            }

            @media (max-width: 880px) {
                position: fixed;
                justify-content: flex-end;
                padding-top: 20px;
                flex-direction: column-reverse;
                width: 250px;
                height: 100vh;
                top: 12vh;
                background-color: #004d88;
            }
        }

        .toggle {
            display: none;
            font-size: 3rem;
            color: white;
            opacity: 0.8;
            cursor: pointer;

            &:hover {
                opacity:1;
            }

            @media (max-width: 880px) {
                display: block;
                font-size:  2.7rem;
            }
        }

    }

    .banner  {
        display: flex;
        align-items: center;
        height: calc(100vh - 12vh);
        background: #000 url('../../assets/banner.png') no-repeat left center / 100% 100%;
        position: relative;
        top: 12vh;

        .paragrafo {
            color: white;
            margin-left: 80px;
            width: 310px;
            font-size: 1.9rem;

            @media (max-width: 500px) {
                font-size:  1.6rem;
                width: 280px;
                text-align: center;
                margin-left: 0;
            }
        }

        @media (max-width: 500px) {
            justify-content: center;
            height: 50vh;
            background: #000 url('../../assets/banner.png') no-repeat  0px center / 130% 100%;
        }
    }

}