

.card {
    display: flex;
    width: 220px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: solid 2px #005695;
    padding: 20px;
    text-align: center;
    transform: scale(0.9);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1);
    }

    img {
        width: 120px;
        height: 150px;
    }

    h3 {    
        font-size: 1rem;
        font-weight: 900;
        padding: 5px 0;
    }

    p {
        font-size: 0.9rem;
        font-weight: 400;
    }

}